{erl_opts, [ warnings_as_errors ]}.

{deps, [
  {eport_c, {path, "lib/eport_c"}}
]}.

{pre_hooks,[
  {"(linux|darwin|solaris)", compile, "make -f c_src/Makefile && mkdir -p priv && cp iec61850_mms_client iec61850_mms_server priv/"},
  {"(freebsd)", compile, "gmake -f c_src/Makefile && mkdir -p priv && cp iec61850_mms_client iec61850_mms_server priv/"}
]}.
{post_hooks,[
  {"(linux|darwin|solaris)", clean, "make -f c_src/Makefile clean && rm -f priv/iec61850_mms_client priv/iec61850_mms_server"},
  {"(freebsd)", clean, "gmake -f c_src/Makefile clean && rm -f priv/iec61850_mms_client priv/iec61850_mms_server"}
]}.
